@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

.main,
.main {
    background-color: #161616;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
}

.main section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.main .hidden {
    opacity: 0;
    transition: all 1.2s;
    filter: blur(5px)
}

.main .image {
    transition: box-shadow 0.3s ease-in-out;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
    width: 35%;
    height: 35%;
}

.main .active {
    box-shadow: 0 0 10px 5px rgb(15, 200, 21, 1);
}

.main .image:hover {
    box-shadow: 0 0 25px 5px rgb(15, 200, 21, 1);
}

.main h1:first-of-type .hidden {
    transition-delay: 500ms;
}

.main section:first-of-type .hidden {
    transition-delay: 500ms;
}

.main .show {
    opacity: 1;
    filter: blur(0)
}

.main .container {
    position: relative;
}

.main .input {
    height: 75px;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
}

.main .input:focus {
    outline: none;
}

.main .resultContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main .or {
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}

.main .result {
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}

.main .result em {
    font-style: italic;
}

.main .result p {
    margin-top: 1rem;
}

.main title {
    text-align: center;
}

.main .hiddenButton {
    display: none;
}

.main .submitButton {
    background-color: #161616;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}